<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Simple flashcard app for GRE">
    <meta name="author" content="Tim Olejniczak">

    <title>Flashcards</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
  </head>

  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">GRE Flashcards</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/flashcards">Manage Flashcards </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://ereg.ets.org/ereg/public/signin">GRE Sign-In</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" id="search-text" placeholder="Search" aria-label="Search">
            <button type="button" class="btn btn-outline-success my-2 my-sm-0" id="search-form">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
    	<br />
      <a class="btn btn-success" href="/flashcards/create" role="button">Add</a>
      <br />
      <br />
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Word</th>
            <th scope="col">Definition</th>
            <th scope="col">Usage</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for flashcard in flashcards %}
            <tr>
              <th scope="row">{{flashcard.id}}</th>
              <td>{{flashcard.word}}</td>
              <td>{{flashcard.definition | safe}}</td>
              <td>@{{flashcard.sentence | safe}}</td>
              <td><a class="btn btn-primary btn-sm" role="button" href="/flashcards/edit/{{flashcard.id}}">Edit</button></td>
              <td><a class="btn btn-danger btn-sm" role="button" href="/flashcards/delete/{{flashcard.id}}">Delete</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="application/javascript">
    	$(document).ready(function(){
    		$("#next").click(function(){
    			window.location.href = "/";
    		});

	    	$("#search-form").click(function(){
	    		var word = $('#search-text').val();
			  	window.location.href = "/search/" + word;
			});
    	});
    </script>
  </body>
</html>